


  .xui-icon {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;

    &--btn {
      background: #FFFFFF;
      border: 1px solid #DCDFE6;
      border-color: #DCDFE6;
      border-radius: 4px;
    }
  }
  .mr10 {
    margin-right: 10px;
  }

  .xui-icon-group {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DCDFE6;
    border-color: #DCDFE6;
    border-radius: 4px;
    
    & .xui-icon {
      border-radius: 0px;

      &--ative {
        color: #fcf;
      }
      
      &:not(:first-child):not(:last-child) {
        border-left: 1px solid #DCDFE6;
      }

      &:last-child {
        border-left: 1px solid #DCDFE6;
      }
      
      &:first-child {
        border-left: none;
      }
    }
  }

  // .wrap {
  //   position: relative;
  //   background: #fcf;
  //   overflow: hidden;
  // }
  // .wrap::before {
  //   content: '';
  //   position:absolute;
  //   width: 100%;
  //   left: 0;
  //   bottom: 0;
  // }

  .triangle {
    width: 0;
    height: 0;
    position: absolute;
  }

  .triangle.top-left {
    left: 0;
    top: 0;
    border-top: 8px solid red;
    border-right: 8px solid transparent;
  }

  .triangle.top-left:hover {
    border-top-width: 12px;
    border-right-width: 12px;
  }

  .triangle.top-right {
    right: 0;
    top: 0;
    border-top: 8px solid red;
    border-left: 8px solid transparent;
  }
  
  .triangle.top-right:hover {
    border-top-width: 12px;
    border-left-width: 12px;
  }

  .triangle.bottom-left {
    left: 0;
    bottom: 0;
    border-bottom: 8px solid red;
    border-right: 8px solid transparent;
  }
  
  .triangle.bottom-left:hover {
    border-bottom-width: 12px;
    border-right-width: 12px;
  }

  .triangle.bottom-right {
    right: 0;
    bottom: 0;
    border-bottom: 8px solid red;
    border-left: 8px solid transparent;
  }
  
  .triangle.bottom-right:hover {
    border-bottom-width: 12px;
    border-left-width: 12px;
  }




